.header-alertas {
    display: flex;
    justify-content: right;
    margin: 15px;
}

.container-alertas hr {
    width: 96vw;
    border: 1px solid #E4E4E4;
}

.tabela-container {
    display: flex;
    justify-content: center;
}

.add-alerta {
    width: 150px;
    height: 30px;
    background-color: #852BFF;
    color: #FFF;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
}

.forms {
    margin-top: 20px;
    text-align: center;
}

.forms input {
    width: 180px;
    height: 15px;
    padding: 10px;
    margin: 10px 20px;
    background-color: #F8F8F8;
    border-radius: 6px;
    border: 2px solid #852BFF;
    color: #5A5A5A;
}

.forms button{
    width: 150px;
    height: 30px;
    background-color: #852BFF;
    color: #FFF;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
    margin-top: 20px;
}

.delete-button {
    cursor: pointer;
}