#logo {
    width: 167px;
    height: 43px;
    margin: 24px 0;
}

h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 27px 0;
}

.login-input {
    width: 273px;
    height: 23px;
    padding: 10px;
    margin: 7px 0;
    background-color: #F8F8F8;
    border-radius: 6px;
    border: 2px solid #852BFF;
    color: #5A5A5A;
}

.button {
    width: 273px;
    height: 43px;
    margin: 24px 0;
    background-color: #852BFF;
    color: #FFF;
    border: none;
    border-radius: 36px;
    font-size: 17;
    font-weight: bold;
}

.button:hover {
    color: #852BFF;
    background-color: #FFF;
    border: 2px solid #852BFF;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: space-between;
}

.ilustracao{
    margin: 140px 50px;
}

.login {
    margin: 200px 200px;
    display: inline-block;
    text-align: center;
    width: 300px;
}